<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  
  <head>
    <title>Bookers2Ver2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
      <main>
        <p id="notice"><%= notice %></p>
        <div class="d-flex justify-content-center mb-2">
        <% if user_signed_in? %>
          <%= render 'layouts/seach' %>
          <%= render "searches/tag_form" %>
        </div>
        <% end %>
      </main>
        <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
